image: ubuntu
build_script:
- ps: ./package.ps1
artifacts:
- path: 'artifacts\objects.zip'
deploy:
  provider: GitHub
  auth_token:
    secure: 49K/y43epwh5Sb8uY1l/TbIFRPcEq6fraQaYGS0bgWQJfONznd6hCqPUCg7WSX16
  artifact: artifacts\objects.zip
  draft: true
  on:
    branch: master
    APPVEYOR_REPO_TAG: true
